#search-users-component {
    position: relative;

    .search-img-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: calc(100vh - 45px - 120px);
        min-height: 386px;
        width: 350px;

        img {
            width: 200px;
        }

        p {
            color: #ccc;
            margin-top: 50px;
            text-align: center;
            line-height: 22px;
            font-size: 16px;
        }
    }

    .df-users-container {
        button {
            margin-top: 20px;
        }
    }

}