#dialog-create-group {
    position: relative;
    width: 100%;
    background: #2c2f33;

    .content {
        position: relative;
        padding: 15px;
        box-sizing: border-box;

        .header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                position: relative;
                color: #fff;
                font-weight: 500;
                font-size: 20px;
            }

            mat-icon {
                color: #ccc;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
        }

        p.description {
            position: relative;
            font-size: 14.5px;
            color: #999;
            margin: 15px 0 30px;
        }

        .img-container {
            position: relative;
            height: 130px;

            p.img-container-description {
                position: relative;
                color: #aaa;
                font-size: 9px;
                margin-top: 10px;
                text-align: center;
                font-weight: 300;
    
                span {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }

    }

    .buttons {
        position: relative;
        padding: 15px;
        background: #23272a;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
