#title-description-component {
    h2, h6 {
        color: #fff;
    }

    h2 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 12.5px;
        margin-bottom: 20px;
        font-weight: 400;
    }
}